/*  your css code here. If applicable */
/* Body Background Color */
body {
  background-color: rgb(204, 204, 204);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

/* Video Player Container */
.player_one {
  background-color: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 10px;
	border:2px solid black;
  margin: 20px auto;
  width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

video{
	width:90%;
}
audio{
	width:90%
}
/* Audio Player Container */
.player_two {
  padding: 15px;
  border-radius: 10px;
  margin: 20px auto;
  width: 100%;
  text-align: center;
}

/* General Styling for Links */
a {
  text-decoration: none;
}

span{
	color:black;
}
ul{
	border-radius:5px;
}
a:hover {
  text-decoration: underline;
}
